{% extends "base.html" %}
{% block title %}Inicio | Ecoa{% endblock %}
{% block content %}


<section class="hero">
  <img src="{{ url_for('static', filename='images/hero1.jpg') }}" alt="Maceta Ecoa">
  <div class="hero-text">
    <h1>Ecoa: la maceta que crece contigo</h1>
    <p>Diseño funcional y ecológico hecho con madera reciclada</p>
    <a href="{{ url_for('materas') }}" class="btn">Descubre más</a>
  </div>
</section>
<section class="intro">
  <h2>Bienvenido a Ecoa</h2>
  <p>
    Transformamos madera reciclada en productos sostenibles para que tus espacios urbanos se llenen de vida y conciencia ambiental.
  </p>
</section>

{% endblock %}
